/*this section hides the dropdown list.*/
#nav ul li:hover ul {
    display: block;
}
/*this formats the dropdown options*/
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #222;
    border: 5px solid #222;
    border-top: 0;
    margin-left: 0;
}
/*This section displays the subheadings as blocks. If commnented out, they become inline*/
#nav ul ul li {
    display:block;
    text-decoration: none;
}
/*color changes when text is hovered upon*/
#nav ul ul li a:hover {
    color: 	#fed136;
    text-decoration: none;
}
